<section class="sidebar-container">
  <nav>
    <a class="sidebar-logo" href="./index.html">
      <svg height="37" width="37">
        <use href="../images/icon.svg#icon-setting"></use>
      </svg>
      <p>Dashboard</p>
    </a>
    <ul>
      <li>
        <a type="button">
          <svg height="24" width="24">
            <use href="../images/icon.svg#icon-key"></use>
          </svg>
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a>
          <svg height="24" width="24">
            <use href="../images/icon.svg#icon-d-square"></use>
          </svg>
          <span>Product</span>
          <svg height="16" width="16">
            <use href="../images/icon.svg#icon-chevron"></use>
          </svg>
        </a>
      </li>
      <li>
        <a>
          <svg height="24" width="24">
            <use href="../images/icon.svg#icon-user"></use>
          </svg>
          <span>Customers</span>
          <svg height="16" width="16">
            <use href="../images/icon.svg#icon-chevron"></use>
          </svg>
        </a>
      </li>
      <li>
        <a>
          <svg height="24" width="24">
            <use href="../images/icon.svg#icon-wallet"></use>
          </svg>
          <span>Income</span>
          <svg height="16" width="16">
            <use href="../images/icon.svg#icon-chevron"></use>
          </svg>
        </a>
      </li>
      <li>
        <a>
          <svg height="24" width="24">
            <use href="../images/icon.svg#icon-discount"></use>
          </svg>
          <span>Promote</span>
          <svg height="16" width="16">
            <use href="../images/icon.svg#icon-chevron"></use>
          </svg>
        </a>
      </li>
      <li>
        <a>
          <svg height="24" width="24">
            <use href="../images/icon.svg#icon-message"></use>
          </svg>
          <span>Help</span>
          <svg height="16" width="16">
            <use href="../images/icon.svg#icon-chevron"></use>
          </svg>
        </a>
      </li>
    </ul>
  </nav>
  <div>
    <img src="../images/Evano.png" alt="Evano's photo" />
    <p>Evano</p>
    <p>Project Manager</p>
  </div>
</section>
