<section class="sidebar-container">
  <nav>
    <a class="sidebar-logo" href="./index.html">
      <svg height="37" width="37">
        <use href="../images/icon.svg#icon-setting"></use>
      </svg>
      <p class="sidebar-logo-text">
        Dashboard<span class="sidebar-logo-descr">v.01</span>
      </p>
    </a>
    <ul class="sidebar-list">
      <li>
        <a class="sidebar-item-content" href="">
          <svg class="sidebar-item-icon" height="24" width="24">
            <use href="../images/icon.svg#icon-key"></use>
          </svg>
          <span class="sidebar-item-text">Dashboard</span>
        </a>
      </li>
      <li>
        <a class="sidebar-item" href="">
          <div class="sidebar-item-content">
            <svg class="sidebar-item-icon-fill" height="24" width="24">
              <use href="../images/icon.svg#icon-d-square"></use>
            </svg>
            <span class="sidebar-item-text">Product</span>
          </div>

          <svg class="sidebar-item-icon" height="16" width="16">
            <use href="../images/icon.svg#icon-chevron"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="sidebar-item" href="">
          <div class="sidebar-item-content">
            <svg class="sidebar-item-icon" height="24" width="24">
              <use href="../images/icon.svg#icon-user"></use>
            </svg>
            <span class="sidebar-item-text">Customers</span>
          </div>

          <svg class="sidebar-item-icon" height="16" width="16">
            <use href="../images/icon.svg#icon-chevron"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="sidebar-item" href="">
          <div class="sidebar-item-content">
            <svg class="sidebar-item-icon" height="24" width="24">
              <use href="../images/icon.svg#icon-wallet"></use>
            </svg>
            <span class="sidebar-item-text">Income</span>
          </div>

          <svg class="sidebar-item-icon" height="16" width="16">
            <use href="../images/icon.svg#icon-chevron"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="sidebar-item" href="">
          <div class="sidebar-item-content">
            <svg class="sidebar-item-icon-fill" height="24" width="24">
              <use href="../images/icon.svg#icon-discount"></use>
            </svg>
            <span class="sidebar-item-text">Promote</span>
          </div>

          <svg class="sidebar-item-icon" height="16" width="16">
            <use href="../images/icon.svg#icon-chevron"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="sidebar-item" href="">
          <div class="sidebar-item-content">
            <svg class="sidebar-item-icon-fill" height="24" width="24">
              <use href="../images/icon.svg#icon-message"></use>
            </svg>
            <span class="sidebar-item-text">Help</span>
          </div>

          <svg class="sidebar-item-icon" height="16" width="16">
            <use href="../images/icon.svg#icon-chevron"></use>
          </svg>
        </a>
      </li>
    </ul>
  </nav>
  <div class="sidebar-user">
    <img
      class="sidebar-user-photo"
      src="../images/Evano.png"
      alt="Evano's photo"
      width="42"
      height="42"
    />
    <div>
      <p class="sidebar-user-name">Evano</p>
      <p class="sidebar-user-position">Project Manager</p>
    </div>
  </div>
</section>
